body{
	background-color: whitesmoke;

}



div.container-fluid{

	

}



.photo{
	height: 250px;
	width: 150px;
}

section{
	margin-top: 50px;
	background-color: gray;
}


div.col-lg-8{
	float:left;
	color: green;
}

div.col-md-6{	
	margin-left: 150px;


}

.bottom{
	margin-bottom: 20px;


}

.col{
	float:right;
	display: flex;
}

aside{

	background-color: blue	

}

