*{
	margin: 0 auto;
	padding: 0 auto;
}


body{
	background:url("../img/circuit.jpg");

}



div.container-fluid{

	

}

div.opac{

	background:rgba(255,255,255, 0.6);

}

.red{
	display:flex;
	justify-content: center;
	background-color: whitesmoke; 
	color:red!important;
	margin-right: 50px;
	
}


.photo{
	height: 250px;
	width: 150px;
}




.img1{
	height: 64px;
	width: 64px;
	margin-top: 20px;

}

.img2{
	height: 64px;
	width: 64px;
	background-color: whitesmoke;
	margin-top: 20px;
	
}

.img3{
	height: 64px;
	width: 64px;
	background-color: whitesmoke;
	margin-top: 20px;
	
}

.img4{
	height: 64px;
	width: 64px;
	background-color: whitesmoke;
	margin-top: 20px;
	
}

section{
	margin-top: 20px;
	background-color: whitesmoke;
	color: #234CA5;
}



div.col-lg-9{
	background-color: whitesmoke;

}


div.col-md-6{	
	float:none;
}

div.col-md-4{
	float: left;
	margin: 0;
	background-color: whitesmoke;
	color: red;
}

.center{
	margin-left: 50px!important;

}




.left{
	margin-left: 50px!important;


}

.bottom{
	margin-bottom: 5px;
	background-color: grey;


}

<<<<<<< HEAD
.sh{	
	height: 50px;
	width: 50px;
}

.like{	
	height: 50px;
	width: 50px;
}

.host{	
	height: 50px;
	width: 50px;
}

.2tech{	
	height: 50px;
	width: 150px;
}

=======
div.col-md-6{
	display:flex;
	justify-content: space-around;

}
>>>>>>> 1d70cd28472a032e87b5eb1269224a2f1170abc3



div.col-xs-4{
	margin-top:20px;
	float:right;
}

.list-group-item{

	display: flex;
	justify-content: center;
	margin-bottom: 7px;

}

.coll{
	padding-right: 25px;


}

div.col-xs-4.col-sm-2.sidebar-offcanvas{
	margin-top: 20px;
}

.down{

	margin-bottom: 7px;
}

.in{
	height: 30px;
	width: 30px;
	display:flex;
	justify-content: center;
}

.twit{
	float: left;
	height: 30px;
	width: 30px;
	margin-left: 10px;
}

.git{
	float: left;
	height: 30px;
	width: 30px;
	margin-left: 10px;
}

@media print{
	a[href]:after {
	    content: " (" attr(href) ")";
	  }
}

footer{
	
	display: flex;
	justify-content: center;
	background-color: whitesmoke;
	
}

p.nintendo{
	height: 25px;
	width: 150px;
	display:flex;
	justify-content: center;
	color: red;
	font-family:"VT323";
	color:red;
	box-shadow: -2px 1px 1px 6px ;
	border-radius: 100px;
	border-color: red;
	background-color: white;
	margin-top:50px;
}