body{
	background-color: black;

}



div.container-fluid{

	

}

.red{
	color:red!important;
	margin-left: 150px!important;
}


.photo{
	height: 250px;
	width: 150px;
}

.img1{
	height: 64px;
	width: 64px;
	margin-top: 20px;

}

.img2{
	height: 64px;
	width: 64px;
	background-color: whitesmoke;
	margin-top: 20px;
	
}

.img3{
	height: 64px;
	width: 64px;
	background-color: whitesmoke;
	margin-top: 20px;
	
}

.img4{
	height: 64px;
	width: 64px;
	background-color: whitesmoke;
	margin-top: 20px;
	
}

section{
	margin-top: 20px;
	background-color: grey;
	color: red;
}



div.col-lg-9{
	background-color: grey;

}

div.col-lg-8{
	float:left;
	color: red;
	
}

div.col-md-6{	
	float:none;
}

div.col-md-4{
	float: left;
	margin: 0;
	background-color: grey;
	color: red;
}

.center{
	margin-left: 50px!important;

}
div.col-md-4-offset-md-5{
	background-color: black;
	color:red;
}



.left{
	margin-left: 50px!important;


}

.bottom{
	margin-bottom: 5px;
	background-color: grey;


}

.sh{	
	height: 50px;
	width: 50px;
}

.like{	
	height: 50px;
	width: 50px;
}

.host{	
	height: 50px;
	width: 50px;
}

.2tech{	
	height: 50px;
	width: 150px;
}




div.col-xs-4{
	margin-top:20px;
	float:right;




}